{
    "plugins": [
        [
            "module-resolver",
            {
                "cwd": "babelrc",
                "root": ["./src"],
                "extensions": [".js",],
                "alias": {
                    "_actions": "./src/actions",
                    "_assets": "./src/assets",
                    "_components": "./src/components",
                    "_constants": "./src/constants",
                    "_containers": "./src/containers",
                    "_reducers": "./src/reducers",
                    "_utils": "./src/utils",
                }
            }
        ]
    ]
}
